/week_1/week_1/nbproject/private/
/week_1/week_1/build/
/week_1/week_2/nbproject/private/
/week_1/week_2/build/
/week_2/week_2/build/
/week_2/week_2/nbproject/private/
/week_3/Task_one/nbproject/private/
/week_3/Task_one/build/
/New Folder/week_4/nbproject/private/
/New Folder/week_4/build/
